.dino {
    height: 85px;
    width: 85px;
    border: 2px solid transparent;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.enemy {
    height: 65px;
    width: 35px;
    border: 2px black;
    background-image: url('Assets/cactus.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.startButton {
    background: blue;
    position: absolute;
    top: center;
    left: center;
}
#score {
    position: absolute;
    top: 20px;
    left: 20px;
}
